<mat-card style="border: grey; margin: 5px; max-width: 800px">
  <div class="garden-view">
    <div class="pump-overlay">
      Pump<br />
      <mat-slide-toggle
        [checked]="sensors.pump == 'on'"
        (change)="onPumpToggle($event)"
      ></mat-slide-toggle>
    </div>
    <div class="camera-overlay">
      Camera<br />
      <mat-slide-toggle
        [checked]="sensors.cam == 'on'"
        (change)="onCameraToggle($event)"
      ></mat-slide-toggle>
    </div>
    <div class="env-overlay">
      Temp:
      {{
        ((sensors.temperature ? sensors.temperature : 0) * 9) / 5 + 32
          | number : "1.0-0"
      }}F<br />Humidity: {{ sensors.humidity }}%<br />Battery:
      {{ sensors.battery }}V<br />Water Level: {{ sensors.waterLevel
      }}<br />Free:
      {{
        sensors.file_bytes_free
          ? (sensors.file_bytes_free / 1000 | number : "1.0-0")
          : 0
      }}KB
    </div>
    <div class="m1-overlay">{{ sensors.sm1 ? sensors.sm1 * 10 : 0 }}%</div>
    <div class="m2-overlay">{{ sensors.sm2 ? sensors.sm2 * 10 : 0 }}%</div>
  </div>
</mat-card>
